#header
  font-size: 8em

#menu_bar
  font-size: 4em
     
#left-column
  width: 200px
  float: left
  background-color: white
  border: 2px solid #aac
  padding: 5px

.box
  padding: 5px
  border: 2px solid #99c
  width: 80%
  margin: 5px auto 5px auto
  .title
    background-color: #55c
    color: white
    padding: 2px
    text-align: center
    font-size: 1.5em
    width: 100%


#content

// Divs will be overflow: auto by default
div
  overflow: auto
  padding: 5px



// tabs

.tabs 
  border-bottom: 2px solid blue
  padding-bottom: 0
  ul
    overflow: auto
    margin: 0
    li
      &:hover
        background-color: #ccf
      list-style-type: none
      float: left
      // top, right, bottom, left
      padding: 7px 10px 3px 10px
      border = 2px solid blue
      border-bottom: 0
      -moz-border-radius-topleft: 9px
      -moz-border-radius-topright: 9px
      margin: 2px 2px 0 2px