.title Skills
%ul
  -@skills.each do |skill|
    %li
      [ 
      =link_to "X", statistic_path(skill), :confirm => "Are you sure you want to delete #{skill.name}?", :method => :delete
      ]
      =skill.name

=link_to "New Skill", new_statistic_path
