%head
  =stylesheet_link_tag "crazydr"
  =javascript_include_tag "jquery-1.3.2"

%body
  #header
    %img{:src => "/images/crazydr.png"}
    Crazy Dr.

  #flash  
    -if flash[ :notice ]
      .notice
        =flash[ :notice ]

    
    

  #menubar
    =render :partial => "items/menubar"

  #left-column
    .box
      =render :partial => "items/projects"
    .box
      =render :partial => "items/skills"

  #content
    =yield


  #footer
